*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 15px; /* chhoti screen me space ke liye */
}

.container{
    width: 100%;
    max-width: 400px;  /* bade screen pe 400px tak hi */
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}

/* Search Box */
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-box input{
    flex: 1;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    background-color: #a6f5fb;
    padding: 10px 14px;
    border-radius: 14px;
}
.search-box input::placeholder{
    color: #000;
    font-size: 14px;
}
.search-box button{
    width: 40px;
    height: 40px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: all .3s ease;
    flex-shrink: 0;
}
.search-box button:hover{
    color: #fff;
    background-color:#ababab ;
}

/* Weather Body */
.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-body img{
    width: 50%;
    max-width: 180px;
}
.weather-box{
    margin-block: 20px;
    text-align: center;
}
.weather-box .temperature{
    font-size: 32px;
    font-weight: 800;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 16px;
    font-weight: 600;
}
.weather-box .description{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

/* Weather details */
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 15px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
    flex: 1 1 45%; /* 2 columns in row */
}
.weather-details i{
    font-size: 28px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 14px;
}
.text span{
    font-size: 18px;
    font-weight: 700;
}

/* Location Not Found */
.location-not-found{
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.location-not-found img{
   width: 70%;
   max-width: 200px;
}
.location-not-found h1{
    font-size: 18px ;
    color: #6b6b6b;
    margin-bottom: 10px;
}

/* -------- Responsive Media Queries -------- */
@media (max-width: 500px) {
    .container {
        padding: 15px;
    }
    .search-box input {
        font-size: 14px;
        padding: 8px 12px;
    }
    .weather-box .temperature {
        font-size: 28px;
    }
    .weather-box .description {
        font-size: 16px;
    }
    .weather-details i {
        font-size: 24px;
    }
    .text span {
        font-size: 16px;
    }
}
